<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>Cliente</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-2" style="width: 250px;">
                <img src="https://fv9-4.failiem.lv/thumb_show.php?i=ystzd9sjg&view" class="img-thumbnail" alt="logo">
            </div>
            <div class="col-auto" id="titulo">
                <h1>Clientes</h1>
            </div>
        </div>
    </div>
    <div class="container" id="lista clientes">
        <div class="row align-items-start">
            <div class="col">
                <form class="row gy-2 gx-3 align-items-center" action="/save" method="POST">
                    <div class="col-auto">
                      <label class="visually-hidden" for="nombre_cli">Nombre Completo</label>
                      <input type="text" class="form-control" id="nombre_cli" name="nombre_cli" placeholder="Nombre Cliente">
                    </div>
                    <div class="col-auto">
                      <label class="visually-hidden" for="deuda_cli">Deuda</label>
                      <div class="input-group">
                        <div class="input-group-text">$</div>
                        <input type="text" class="form-control" id="deuda_cli" name="deuda_cli" placeholder="Deuda">
                      </div>
                    </div><div class="col-auto">
                        <label class="visually-hidden" for="fecha_cli">Fecha</label>
                        <input type="date" id="fecha_cli" placeholder="Fecha" name="fecha_cli">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-outline-primary btn-sm" type="submit">Agregar</button>
                    </div>
                </form>
                <table class="table" id="tabla-clientes">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Deuda ($)</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <% results.forEach(function (clientes) { %>
                      <tr>
                        <td><%= clientes.id_cli %></td>
                        <td><%= clientes.nombre_cli %></td>
                        <td><%= clientes.deuda_cli %></td>
                        <td><%= clientes.fecha_cli %></td>
                        <td>
                            <p>
                                <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                  Editar
                                </button>
                                <a href="/delete/<%= clientes.id_cli %>" class="btn btn-outline-danger">Borrar<i class='bx bxs-trash-alt'></i></a>
                              </p>
                              <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <% if (clientes) { %>
                                        <div class="container mt-4">          
                                            <div class="card border-secondary">  
                                                  <div class="card-header">Editar Registro</div>
                                                  <div class="card-body">
                                                      <form action="/update" method="POST">
                                                           <input id="id_cli" name="id_cli" value="<%= clientes.id_cli %>" hidden>
                                                          <div class="mb-3">
                                                            <label for="nombre_cli" class="form-label">Cliente</label>
                                                            <input type="text" class="form-control" id="nombre_cli" name="nombre_cli" tabindex="1" value="<%= clientes.nombre_cli  %>">                        
                                                          </div>   
                                                          <div class="mb-3">
                                                            <label for="deuda_cli" class="form-label">Deuda</label>
                                                            <input type="text" class="form-control" id="deuda_cli" name="deuda_cli" tabindex="1" value="<%= clientes.deuda_cli  %>">                        
                                                          </div>   
                                                          <div class="mb-3">
                                                            <label for="fecha_cli" class="form-label">Fecha</label>
                                                            <input type="date" id="fecha_cli" placeholder="Fecha" name="fecha_cli" tabindex="3" value="<%= clientes.deuda_cli  %>">                       
                                                          </div>   
                                                          <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                                                          <a href="create_cli" class="btn btn-secondary">Cancelar</a>
                                                      </form>      
                                                  </div>
                                              </div>     
                                        </div>
                                    <% } %>
                                </div>
                              </div>
                            </div>
                            
                        </td>

                      </tr>
      
                    <% }) %>
                  </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="http://localhost:3000" class="btn btn-primary">Volver al menú</a>
        </div>
    </div>
</body>
</html>
