<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <title>Inventario</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-2" style="width: 250px;">
                <img src="https://fv9-4.failiem.lv/thumb_show.php?i=ystzd9sjg&view" class="img-thumbnail" alt="logo">
            </div>
            <div class="col-auto" id="titulo">
                <h1>Inventario</h1>
            </div>
        </div>
    </div>


    <div class="container" id="lista clientes">
        <div class="row align-items-start">
            <div class="col">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                      <label class="visually-hidden" for="name">Nombre Completo</label>
                      <input type="text" class="form-control" id="name" placeholder="Nombre Producto">
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Tipo</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="deuda" placeholder="Tipo">
                        </div>
                      </div>
                    <div class="col-auto">
                      <label class="visually-hidden" for="autoSizingInputGroup">Cantidad</label>
                      <div class="input-group">
                        <div class="input-group-text">Nº</div>
                        <input type="text" class="form-control" id="deuda" placeholder="Cantidad">
                      </div>
                    </div>
                    
                    <div class="col-auto">
                      <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                          <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Buscar</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </form>

                <table class="table" id="tabla-clientes">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre Producto</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Valor ($)</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% results.forEach(function (inventario) { %>
                      <tr>
                        <td><%= inventario.id_inv %></td>
                        <td><%= inventario.nombre_inv %></td>
                        <td><%= inventario.tipo_inv %></td>
                        <td><%= inventario.cantidad_inv %></td>
                        <td><%= inventario.valor_inv %></td>
                        <td>
                          <a href="/edit" class="btn btn-outline-success btn-sm">Editar</a>
                          <a href="/delete" class="btn btn-outline-danger btn-sm">Borrar</a>
                        </td>
                      </tr>
      
                    <% }) %>

                  </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="http://localhost:3000" class="btn btn-primary">Volver al menú</a>
        </div>
    </div>
</body>
</html>
